body {
background-image: url(https://image.ibb.co/hygB8H/starry_sky_1654074_1280_1.jpg); 
}

header h1 {
	color: #efdb28;
	font-family: 'Carrois Gothic SC', sans-serif;
	text-align: center;
}

header  ul  li {
	color: #efdb28;
	font-family: 'Carrois Gothic SC', sans-serif;
	display: block;
	font-size: 25px;
	padding-right: 15px;
	text-align: right;
}

main {
	margin-top: 100px;
	font-family: 'Carme', sans-serif;
	margin-left: auto;
  margin-right: auto;
  width: 100%;

}

main section {
	margin: 0 auto;
	width: 100%;
}

.quizQuestions > h2, .quizStart > h1 {
	text-align: center;
	
}

.quizQuestions, .quizStart, .quizAnswers {
  color: #efdb28;
  max-width: 400px;
}

button {
	font-weight: bold;
	font-size: 20px;
 	background-color: yellow;
  width: auto;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	border: none;
	border-radius: 2px;
	text-align: center;
	display: block;
}

.answerChoice {
	color: #efdb28;
	
}

p {
	color: #efdb28;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

fieldset {
	border: none;
}

form {
	border: 2px solid #efdb28;
}

label {
	display: block;
	font-size: 20px;
	padding-top: 10px;
	font-weight: bold;
}

.imgContainer > img {
	display: flex;
	text-align: center;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	height: auto;
}

